.t-button{
	padding:10px 30px;
	color:#fff;
	background:$background-black;
	font-size:1.2em;
	font-weight: bold;
	margin:0 5px;
	
	@include screen(1200px){
		padding:5px 15px;
	}

	&:hover{
		background:$background-black-hover;
	}

	&:active{
		background:$background-black-hover;
	}
}
.t-button_red{
	background:$background-red;

	&:hover{
		background: $background-red-hover;
	}
}
.buttons{
	@include flex(row);
	margin-top:30px;

	.t-button{
		width: 50%;
		padding:30px;
		margin:0;

		@include screen (768px){
			padding:15px;
		}
	}
}
.l-button{
	text-align: center;

	.l-button__a{
		display: inline-block;
		border:1px solid $color_black_border;
		padding:15px 30px;
		margin:45px auto 15px;
		font-weight: bold;

		&:hover{
			color:$color_a_hover;
		}
	}
}
.company .owl-nav {
	    font-size: 90px !important;
	    color: $color_button_carousel !important;
	

    .owl-prev{
    	left:-60px;
	    position: absolute;
	    top: 3%;

	    &:hover{
	    	color: $color_button_carousel_hover !important;
	    }
    }

    .owl-next{
	    position: absolute;
	    top: 3%;
    	right:-50px;

    	&:hover{
			color: $color_button_carousel_hover !important;
	    }
    }
}

.burger{
	display: none;
	width: 25px;
	position: absolute;
	right: 25px;
	top:10px;
	cursor:pointer;

	.burger__line{
		border-bottom:3px solid $color_black_border;
		margin-bottom:5px;
		display: block;
	}

	@include screen(768px){
		display: block;
	}
}