@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
body{
	font-family: 'Roboto', sans-serif;
	font-size:$fontsize;
	overflow-x:hidden;

	@include screen (480px){
		font-size:$fontsize_m;
	}
}
.h1{font-size:2.2em;font-weight: bold;margin-bottom:25px;color:$color_zag_black;}
.h2{font-size:2em;font-weight: bold;margin-bottom:15px;color:$color_zag_black;}
.h3{font-size:1.8em;font-weight: bold;margin-bottom:15px;color:$color_zag_black;}
.h4{font-size:1.6em;font-weight: bold;margin-bottom:15px;color:$color_zag_black;}
.h5{font-size:1.4em;font-weight: bold;margin-bottom:15px;color:$color_zag_black;}
.h6{font-size:1em;font-weight: bold;margin-bottom:15px;color:$color_zag_black;}

.clear{clear:both;}

.p-block{
	width: 1280px;
	margin:0 auto;
	padding:80px;	
	@include screen (1366px){
		width: 100%;
		padding:15px;
		box-sizing:border-box;
	}
	.h1{
		margin-bottom: 40px;
	}

	.p-block-text_center{
		text-align: center;
	}

}

a{
	text-decoration: none;
	color:$color_a;
	&:hover{
		color:$color_a_hover;
		text-decoration:none;
	}
	&:visited{
		color:$color_a_visited;
	}
	&:active{
		color:$color_a_active;
	}
}

button, input[type="submit"]{
	border: none;
	cursor:pointer;
}
button, input{
	&:focus{
		outline:none;
	}
}