@mixin border-radius($radius) { 
 -webkit-border-radius: $radius; 
 -moz-border-radius: $radius; 
 -ms-border-radius: $radius; 
 border-radius: $radius; 
}

@mixin box-shadow($left, $top, $blur, $color){ 
 -moz-box-shadow: $left $top $blur $color; 
 -webkit-box-shadow: $left $top $blur $color; 
 box-shadow: $left $top $blur $color; 
}

@mixin flex($direction, $justify:flex-start, $align: end){
	display:flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
	flex-wrap:wrap;
}

@mixin screen($width){
	@media screen and (max-width:$width){
		@content;
	}
}

@mixin transform($deg){
	-moz-transform: rotate($deg); 
    -ms-transform: rotate($deg);
    -webkit-transform: rotate($deg); 
    -o-transform: rotate($deg); 
    transform: rotate($deg);
}