$fontsize:18px;
$fontsize_m:14px;
$color_a:#262A40;
$color_a_visited:#262A40;
$color_a_hover:#BB1D2C;
$color_a_active:#262A40;
$color_text: #262A40;
$color_zag_black: #262A40;

$background-black: #262A40;
$background-black-hover: #141621;
$background-red: #BB1D2C;
$background-red-hover: #9A1825;

$color_red: #BB1D2C;

$color_black_border: #374149;
$color_red_border: #BB1D2C;

$color_button_carousel: #BCC0C7;
$color_button_carousel_hover: #BB1D2C;

$background_lightgray: #F4F4F4;
