.block{
	width: 100%;
	background:#fff url('../../img/main_bg.png') no-repeat center center;
	background-size:cover;

	.block-header{
		max-width: 700px;
		margin:0 auto;
		padding:130px 0;
		
		@include screen (768px){
			padding:30px 0;
		}

		.block-header__bg{
			background:rgba(255, 255, 255, 0.75);
			padding:20px;

			.block-header__a {
			    font-weight: bold;
			    margin: 10px 30px 10px 0;
			    display: inline-block;
			    padding-bottom:5px;
			    cursor:pointer;
			    font-size:0.8em;

			    &:hover{
			    	text-decoration: none;
			    }
			}

			.block-header__a_active{
				border-bottom:3px solid $color_red;
			}
		}
	}
}

