
.how_we_work__step{
	@include flex(row, space-between, end);

	@include screen (768px){
		@include flex(column, space-between, center);
	}
	.step_work{
		text-align: center;
		position: relative;
		width: 30%;

		@include screen (768px){
			width: 100%;
			margin-bottom: 75px;
		}
		
		.step_work__img{
			position: relative;
			display: inline-block;

			.step_work__number {
			    position: absolute;
			    background: $background-red;
			    text-align: center;
			    padding: 5px 10px;
			    color: white;
			    font-weight: bold;
			    top:-5px;
			    left:-5px;
			}
		}

		&:after{
		    content: '';
		    position: absolute;
		    right: -15%;
		    background: url(../../img/arrow-right.png) no-repeat;
		    background-size: 100%;
		    width: 60px;
		    height: 50px;
		    top: 30%;

			@include screen (768px){
				@include transform(90deg);
				top: 105%;
				right: 43%;
			}
		}

		&:last-child{
			&:after{
				display: none;
			}
		}

		.step_work__title{
			margin:20px auto 10px;
			font-family: 'Montserrat', sans-serif;
			font-size: 1.2em;
			color:#252525;
		}

		.step_work__text {
		    font-size: 0.9em;
		}
	}


}