.top-line{
	width: 1280px;
	margin:0 auto;
	padding:25px 80px;
	.t-lang{
		float:right;
	}
	@include screen(1366px){
		width: 100%;
		box-sizing:border-box;
	}
	@include screen (1200px){
		padding:15px;
	}
}
	.t-lang{
		display: inline-block;
		vertical-align: middle;
		margin:0 10px;
		
		.t-lang_span{
			    padding-bottom: 5px;
			    font-weight: bold;
			    display: block;
			    margin-top: 20px;

			    @include screen (768px){
			    	margin-top:30px;
			    }
		}

		.t-lang_red_border_bottom{
				border-bottom:3px solid $color_red;
		}
	}	
	.t-logo{
		display: inline-block;
		vertical-align: middle;
	}

	.t-menu{
		display: inline-block;
		vertical-align: middle;
		margin-left: 80px;

		@include screen (1200px){
			margin-left: 0;
		}

		@include screen (768px){
			display: none;
		}
		.t-menu_visible{
			display: block;

		}
		.menu-link{
			.m-link{
				margin:10px 20px;
			}
			.m-link-bold{
				font-weight: bold;
			}
		}
	}

	.t-connect{
		display: inline-block;
		vertical-align: middle;
		float: right;
		margin: 0 10px;

		@include screen (1200px){
			float: none;
		}
		@include screen (768px){
			display: block;
			margin:10px auto;
			text-align: center;
		}
	}

