<div class="footer">
	<div class="p-block">
		<div class="t-logo">
			<img src="img/logo_footer.png" alt="">
		</div>
		<div class="t-menu">
			<div class="menu-link">
				<a href="" class="m-link m-link-bold">Countries</a>
				
				<a href="" class="m-link m-link-bold">Services</a>
				<a href="" class="m-link m-link-bold">Privat Policy</a>
				<a href="" class="m-link m-link-bold">How it works</a>
				<a href="" class="m-link m-link-bold">Contacts</a>
				<a href="" class="m-link m-link-bold">Sitemap</a>
			</div>
			<div class="t-lang">
				<span class="t-lang_span t-lang_red_border_bottom">EN</span>
			</div>
		</div>
		<div class="copyright">
			<div class="copyright__text">
				Copyright Ⓒ Bixter.work. All rights reserved. e-Boks is a registered trademark.
			</div>
		</div>
	</div>
</div>