<div class="block">
	<div class="block-header">
		<div class="block-header__bg">
			<h1 class="h1">
				Date your employer abroad
			</h1>
			<a href="#" class="block-header__a block-header__a_active">For employers</a>
			<a href="#" class="block-header__a">For employess</a>
			<form class="form-search">
				<input type="text" class="form-search__input form-search__input-name" placeholder="Enter the profession, for example, tractor driver...">
				<input type="text" class="form-search__input form-search__input-selected" placeholder="Country">
				<button class="form-search__button"></button>
			</form>
		</div>
		<div class="buttons">
			<button class="t-button t-button_red">Find worker</button>
			<button class="t-button">Find job</button>
		</div>
	</div>
</div>