<div class="p-block">
	<div class="h1 p-block-text_center">
		We work in different countries of Europe
	</div>	
	<div class="country">
		<div class="country__item country__item-norway">
			<div class="country__title">Norway</div>
		</div>
		<div class="country__item country__item-sweden">
			<div class="country__title">Sweden</div>
		</div>
		<div class="country__item country__item-germany">
			<div class="country__title">Germany</div>
		</div>
		<div class="country__item country__item-netherlands">
			<div class="country__title">Netherlands</div>
		</div>
	</div>
	<div class="l-button">
		<a href="#" class="l-button__a">More countres</a>
	</div>
</div>