<div class="p-block">
	<div class="h1 p-block-text_center">
		How we work
	</div>
	<div class="how_we_work__step">
		<div class="step_work">
		<div class="step_work__img">
			<div class="step_work__number">
				<span class="step_work__number-span">1</span>
			</div>
			<img src="img/how_we_work1.png" alt="" class="step_work__img_image">
		</div>
		<div class="step_work__title">
			Companies publish their open vacancies
		</div>
		<div class="step_work__text">
			Also, they can choose employees from the list and send them messages with work proposals
		</div>
	</div>
	<div class="step_work">
		<div class="step_work__img">
			<div class="step_work__number">
				<span class="step_work__number-span">2</span>
			</div>
			<img src="img/how_we_work2.png" alt="" class="step_work__img-image">
		</div>
		<div class="step_work__title">
			Employees upload their CV on our website
		</div>
		<div class="step_work__text">
			Also, they can find the company, where want to work and send them own CV
		</div>
	</div>
	<div class="step_work">
		<div class="step_work__img">
			<div class="step_work__number">
				<span class="step_work__number-span">3</span>
			</div>
			<img src="img/how_we_work3.png" alt="" class="step_work__img-image">
		</div>
		<div class="step_work__title">
			Both sides can find each other for work
		</div>
		<div class="step_work__text">
			Everyone can find dream job or the best employee
		</div>
	</div>
	</div>
	<div class="l-button">
		<a href="#" class="l-button__a">Learn more</a>
	</div>
</div>