<div class="p-block">
	<div class="h1 p-block-text_center">
		Companies we work with
	</div>	
	<div class="p-block__company">
		<div class="company owl-carousel">
			<div class="company__item">
				<div class="company__img">
					<img src="img/company_1.png" alt="" class="company__img-image">
				</div>
				<div class="company__title">Agro Systems</div>
			</div>
			<div class="company__item">
				<div class="company__img">
					<img src="img/company_2.png" alt="" class="company__img-image">
				</div>
				<div class="company__title">Aduen</div>
			</div>
			<div class="company__item">
				<div class="company__img">
					<img src="img/company_3.png" alt="" class="company__img-image">
				</div>
				<div class="company__title">Mooij Agro</div>
			</div>
			<div class="company__item">
				<div class="company__img">
					<img src="img/company_1.png" alt="" class="company__img-image">
				</div>
				<div class="company__title">Agro Systems</div>
			</div>
			<div class="company__item">
				<div class="company__img">
					<img src="img/company_2.png" alt="" class="company__img-image">
				</div>
				<div class="company__title">Aduen</div>
			</div>
			<div class="company__item">
				<div class="company__img">
					<img src="img/company_3.png" alt="" class="company__img-image">
				</div>
				<div class="company__title">Mooij Agro</div>
			</div>
		</div>
	</div>
</div>