<div class="top-line">
	<div class="t-logo">
		<img src="img/logo.png" alt="">
	</div>
	<div class="t-menu">
		<div class="menu-link">
			<a href="" class="m-link m-link-bold">CV's</a>
			<a href="" class="m-link m-link-bold">Find job</a>
			<a href="" class="m-link m-link-bold">Services</a>
		</div>
	</div>
	<div class="t-lang">
		<span class="t-lang_span t-lang_red_border_bottom">EN</span>
	</div>
	<div class="t-connect">
		<button class="t-button t-button_red">Register</button>
		<button class="t-button">Log in</button>
	</div>
	<div class="burger">
		<span class="burger__line"></span>
		<span class="burger__line"></span>
		<span class="burger__line"></span>
	</div>
</div>